*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: #757575;
    height: 100vh;
}
.tittle{margin-bottom: 30px;}
a{
    text-decoration: none;
    color: #757575;
}
.item:hover,
.item1:hover{
    background-color: #eff0f5;
    color:orangered;
}

li{
    list-style: none;
}
.menu{
    position: relative;
    background-color: #fff;
    width: 200px;
}
.menu1,.menu2{
   position: absolute;
   top: 0px;
   left:200px;

   background-color: #fff;
   width: 200px;
   height: 100%;
}
.item,.item1{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.icon,.icon1{
    position: absolute;
    left:180px;
}
p .icon,.icon1{
    display:none;
}
.item:hover p .icon{
    display: inline-block;
    color: orangered;
}
.item1:hover p .icon1{
    display: inline-block;
    color: orangered;
}
.menu1 , .menu2{
    display: none;
}
.item:hover .menu1{
    display: block;
}
.item1:hover .menu2{
    display: block;
}