*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    background-color: #f4f7fa;
}
.container{
    padding: 50px 100px;
}
#quayve{
    background-color: #28a745;
    color: #ffff;
    text-decoration: none;
    border: 2px solid #28a745;
    border-radius: 2px;
    padding: 4px 4px;
}
.content{
    background-color: #ffff;
    margin-top: 10px;
    padding: 20px 50px;
    border-radius: 2px;
    line-height: 3;
}
h2{
    text-align: center;
    font-weight: 400;
}
#huongdan{
    color: #0c7efe;
    text-decoration: none;
}
i{
    color: red;

}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 25%;
    padding: 0 10px;
}
.footer {
    color: #fff;
    background-color: #30598c;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
}
.owner{
    padding: 30px;
}
div ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffff;
}
.fa-facebook,.fa-youtube,.fa-github{
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin-top: 10px;
}