<div th:fragment="new-password-modal" class="modal fade" id="new-password-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-center">Reset Password</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form id="new-password-form">
          <input class="login-input" type="text" name="password" placeholder="Enter Your New Password" id="new-password-input">
          <div class="error-container">
            <div class="error-message"></div>
          </div>

          <div>
            <input class="login-input" type="text" id="new-confirm-password" name="newPassword"
                   placeholder="Enter Your Confirm Password">
            <div class="error-container">
              <div class="error-message"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="account text-center my-2">
        <Button class="btn btn-success confirm-new-password-btn">Confirm</Button>
      </div>
    </div>
  </div>
</div>
</div>