<div th:fragment="reset-password-modal" class="modal fade" id="resetPasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center">Reset Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-center mb-3">Please enter your registered email address to receive password reset
                    instructions</p>
                <form id="reset-password-form">
                    <div class="position-relative">
                        <input class="login-input" type="text" name="email" id="email-reset-data" placeholder="Enter Your Email!">
                        <button class="btn btn-success send-otp-btn">Send Otp</button>
                        <div class="error-container">
                            <div class="error-message"></div>
                        </div>
                    </div>
                    <div id="otpSection" class="text-center" style="display: none; overflow: hidden;">
                        <p>A code has been sent to</p>
                        <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                            <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1"/>
                            <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1"/>
                            <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1"/>
                            <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1"/>
                            <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1"/>
                            <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1"/>
                        </div>
                        <Button class="btn btn-success confirm-otp-btn">Confirm</Button>
                    </div>
                    <div class="switch-modal">
                        <a  class="switch-confirm" href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                                                       data-bs-target="#myModal"><span><i class="fa-solid fa-backward"></i></span> Back To Login</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>