<div th:fragment="signup-modal" class="modal fade" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-center">Register</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form id="signup-form">
          <input class="login-input" type="text" name="email" placeholder="Enter Your Email!" id="email-signup-data">
          <div class="error-container">
            <div class="error-message"></div>
          </div>

           <div>
             <input class="login-input" type="text" id="name-signup-data" name="name"
                    placeholder="Enter Your Name">
             <div class="error-container">
               <div class="error-message"></div>
             </div>
           </div>
            <div class="position-relative">
              <input class="login-input" type="password" id="registerPasswordInput" name="password"
                     placeholder="Enter Your Password">
              <img id="togglePasswordBtnSignup" src="/assets/img/icon/hide.png" alt="" onclick="hidePassword('registerPasswordInput','togglePasswordBtnSignup')">
              <div class="error-container">
                <div class="error-message"></div>
              </div>
            </div>
            <div class="position-relative">
              <input class="login-input" type="password" id="confirmPasswordInput" name="confirmPassword"
                     placeholder="Confirm Your Password">
              <img id="togglePasswordBtnSignupConfirm" src="/assets/img/icon/hide.png" alt="" onclick="hidePassword('confirmPasswordInput','togglePasswordBtnSignupConfirm')">
              <div class="error-container">
                <div class="error-message"></div>
              </div>
            </div>
        </form>
        </div>
        <div class="account text-center mt-2">
          <Button class="btn btn-success signup-btn">Register</Button>
        </div>
        <div class="switch-modal">
          <p>Already have an account? <a class="switch-confirm" href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                                         data-bs-target="#myModal">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>